body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #E0E0E0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.signup-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #f3f1f1;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .signup-container {
    flex-direction: column;
  }
}
.signup-container .imagee {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 80px;
}
@media (max-width: 992px) {
  .signup-container .imagee {
    padding-left: 0;
    margin-bottom: 30px;
  }
}
.signup-container .imagee img {
  height: 70vh;
}
@media (max-width: 768px) {
  .signup-container .imagee img {
    max-width: 90%;
  }
}
.signup-container .form-section {
  flex: 2;
  max-width: 500px;
  padding: 75px;
  margin-right: 80px;
}
@media (max-width: 1200px) {
  .signup-container .form-section {
    margin-right: 40px;
    padding: 80px 60px;
  }
}
@media (max-width: 992px) {
  .signup-container .form-section {
    padding: 60px 30px;
    margin-right: 0;
  }
}
@media (max-width: 576px) {
  .signup-container .form-section {
    padding: 40px 20px;
  }
}
.signup-container .form-section .logo {
  position: absolute;
  font-size: 24px;
  font-weight: 600;
  color: #2a2a2a;
  right: 120px;
  top: 50px;
  direction: ltr;
}
@media (max-width: 768px) {
  .signup-container .form-section .logo {
    right: 20px;
    top: 20px;
    font-size: 20px;
  }
}
.signup-container .form-section .logo img {
  height: 20px;
  align-items: center;
}
.signup-container .form-section h2 {
  margin: 0 0 10px;
}
.signup-container .form-section p {
  margin-bottom: 20px;
  color: #777;
  font-size: 14px;
}
.signup-container .form-section form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.signup-container .form-section form .double {
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .signup-container .form-section form .double {
    flex-direction: column;
  }
}
.signup-container .form-section form .form-group {
  position: relative;
  flex: 1;
  padding: 8px;
}
.signup-container .form-section form .form-group input {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: transparent;
}
.signup-container .form-section form .form-group label {
  position: absolute;
  top: 14%;
  left: 20px;
  transform: translateY(-50%);
  background: #f3f1f1;
  padding: 0 5px;
  font-size: 14px;
  color: #777;
  transition: 0.2s ease;
  pointer-events: none;
}
.signup-container .form-section form .checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.signup-container .form-section form .checkbox span {
  color: #f11b2d;
  cursor: pointer;
}
.signup-container .form-section form button[type=submit] {
  padding: 12px;
  background-color: #2962ff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}
.signup-container .form-section form button[type=submit]:hover {
  background-color: #0039cb;
}
.signup-container .form-section form .login-link {
  font-size: 14px;
  text-align: center;
}
.signup-container .form-section form .login-link a {
  color: #f11b2d;
  text-decoration: none;
}
.signup-container .form-section form .options {
  align-items: center;
  text-align: center;
  color: #a1a0a0;
}
.signup-container .form-section form .social-signup {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
}
@media (max-width: 576px) {
  .signup-container .form-section form .social-signup {
    flex-direction: column;
    align-items: center;
  }
}
.signup-container .form-section form .social-signup .social-button {
  width: 150px;
  height: 40px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2962ff;
}
.signup-container .form-section form .social-signup .social-button img {
  width: 20px;
}
.signup-container .form-section form .social-signup .social-button:hover {
  border: 1px solid #2346a8;
}/*# sourceMappingURL=style.css.map */